node_modules
cache_forge
out/
lib/
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
/thegraph/build
/thegraph/generated
/thegraph/node_modules
/deployments
/localnet_state/*.json
/subgraph/build
/config/*-wallet.js
/broadcast